* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    font-size: 62.5%;
}

.introduction {
    background-color: #FF6B1A;
    height: 13rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    row-gap: 0.5rem;
}

.logo {
    display: flex;
    gap: 0.6rem;
}

.intro-title {
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}

.intro-desc {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu {
    height: 7.1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 13px;
    background-color: #1A1A1A;
}

.menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10.3rem;
    height: 3.7rem;
    background-color: #FF6B1A;
    border-radius: 0.8rem;
    gap: 0.5rem;
}

.menu-btn-text {
    color: white;
    font-size: 1.9rem;
    font-weight: 500;
}

.hero {
    width: 100vw;
    height: 37.7rem;
    background-color: rgba(42, 42, 42, 0.9);
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    row-gap: 1.5rem;
}

.hero-title {  
    font-size: 2.4rem;
    font-weight: 700;
    z-index: 3;
}

.hero-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    z-index: 2;
}

.hero-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    opacity: 0.3;
}

.cards {
    margin-top: 3.9rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2.5rem;
    row-gap: 3rem;
}

.card {
    width: 32.4rem;
    height: 20rem;
    border-radius: 1.2rem;
    box-shadow: 0px 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
    row-gap: 1rem;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0px 0.4rem 1.2rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s linear, box-shadow 0.3s linear;

}

.top-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: #FF6B1A;
    border-radius: 1.2rem 1.2rem 0 0;
}

.card-title {
    margin-top: 2.3rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-align: left;
}

.title-text {
    font-size: 2.4rem;
    font-weight: 700;
}

.card-desc {
    font-size: 1.6rem;
    font-weight: 400;
    color: #666666;
}

.footer-desc {
    background-color: #1A1A1A;
    width: 100vw;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.buttons {
    display: none;
}

.menu-btn-normal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.3rem;
    height: 3.7rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-btn-normal:hover {
    border-radius: 0.8rem;
    transform: scale(1.05);
    transition: transform 0.3s linear;
}

.menu-btn-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.3rem;
    height: 3.7rem;
    background-color: #FF6B1A;
    border-radius: 0.8rem;
    cursor: pointer;
    color: white;
}

.menu-btn-selected:hover {
    transform: scale(1.05);
    background-color: #dc5a14;
    transition: transform 0.3s linear, background-color 0.3s linear;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 32.4rem);
        column-gap: 3rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 15rem;
    }

    .hero {
        justify-content: center;
    }

    .menu-btn {
        display: none;
    }

    .menu {
        height: 6rem;
    }

    .menu {
        justify-content: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
    }
}